nav {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  box-sizing: border-box;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;

}
.Tweeter-Logo {
  font-family: 'Bungee';
}