button {
  color: white;
  background-color: blue;
  font-family: 'Bungee';
  border-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 60%;
}
.new-tweet {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2 {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
}
.image {
  display: flex;
  justify-content: space-between;
}
textarea {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  margin-bottom: 15px;
  width: 100%;
  resize: none;
  height: 60px;
}
textarea:focus {
  outline: none;
}
.alert-long {
  display: none;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.alert-empty {
  display: none;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}